.loading-spinner {
    display: flex;
    justify-content: center;
    &::after {
    content: "";
    width: 50px;
    height: 50px;
    border: 10px solid #f2f2f2;
    border-top-color: $colour-primary;
    border-bottom-color: $colour-primary;
    border-radius: 50%;
    animation: loading 1000ms 150ms ease infinite;
    }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.container {
  animation: container 0ms 2150ms both;
}

@keyframes container {
  0% {
    transform: translateX(-9999px);
  }

  100% {
    transform: translateX(0);
  }
}