.visual-preview {
    &__photo {
        z-index: 2;
        margin-top: -20px;
        @media (min-width: 768px) {
            width: 100%;
            height: 400px;
        }
        @media (min-width: 992px) {
            height: 700px;
        }
    }
}

.menu {
    background-color: $background;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    z-index: 1;
    position: relative;
    bottom: 50px;
    margin-bottom: -50px;
    @media (min-width: 992px) {
        bottom: 150px;
        margin-bottom: -150px;
    }
    button {
        padding: 20px 60px 20px 60px;
        margin: 50px 90px;
        @media (min-width: 768px) {
            margin-left: 38%;
        }
        @media (min-width: 992px) {
            margin-left: 45%;
        }
    }
    &__heading {
        display: block;
        align-items: baseline;
        justify-content: space-between;
        padding-top: 20px;
        @media (min-width: 768px) {
            justify-content: center;
            padding-left: 22%;
        }
        @media (min-width: 992px) {
            padding-left: 38%;
        }
    }
    &__title {
        margin: 20px;
        @media (min-width: 768px) {
            font-size: 2em;
        }
    }
    &__categories {
        text-transform: uppercase;
        margin: 30px 20px 20px 20px;
        @media (min-width: 768px) {
            position: relative;
            left: 18%;
        }
        @media (min-width: 992px) {
            left: 38%;
        }
    }
    &__underline {
        width: 38px;
        border: 2px solid $colour-tertiary;
        position: relative;
        bottom: 10px;
        margin: 20px;
        @media (min-width: 768px) {
            position: relative;
            left: 18%;
        }
        @media (min-width: 992px) {
            left: 38%;
        }
    }

.fav {
    width: 30px;
    height: 30px;
    overflow: hidden;
    z-index: 3;
    &__heart {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 10%;
        top: 3%;
        cursor: pointer;
        z-index: 1;
        background-color: #f2f2f2;
        &:active {
            animation: heart-opacity 550ms 150ms forwards;
        }
        @media (min-width: 992px) {
            &:hover {
                animation: heart-opacity 550ms 150ms forwards;
            }
        }
        &--full {
            width: 30px;
            height: 30px;
            position: absolute;
            right: 10%;
            top: 3%;
            cursor: pointer;
            z-index: -1;
        }
        @media (min-width: 768px) {
            right: 25%;
            top: 3.5%;
            &--full {
                right: 25%;
                top: 3.5%;
            }
        }
        @media (min-width: 992px) {
            padding-right: 14%;
            &--full {
                padding-right: 14%;
            }
        }
    }
}

.dishbox {
    @include box;
    width: 90%;
    background-color: #FFFFFF;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    padding-left: 15px;
    cursor: pointer;
    @media (min-width: 768px) {
        width: 60%;
        position: relative;
        left: 19%;
    }
    @media (min-width: 992px) {
        width: 20%;
        left: 39%;
    }
    &:hover {
        .dishbox__check-icon {
            width: 30px;
            animation: rotation 750ms ease-in-out;
        }
        .dishbox__checkbox {
            animation: slide-in 750ms ease-in-out forwards;
        }
        .dishbox__prices {
            animation: move 750ms ease-in-out forwards;
        }
    }
    &__sub {
        display: flex;
        justify-content: space-between;
        margin-top: -25px;
        margin-bottom: -10px;
    }
    &__prices {
        position: absolute;
        font-weight: bold;
        right: 3%;
        z-index: 300;
    }
    &__titles {
        font-size: 1.1em;
    }
    &__txt {
        overflow: hidden;
        text-overflow:ellipsis;
        font-size: 1em;
    }
    &__checkbox {
        width: 0px;
        height: 84px;
        background-color: $colour-tertiary;
        overflow: hidden;
        position: absolute;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        top: 0;
        right: 0;
    }
    &__check-icon {
        color: #FFFFFF;
        font-size: 35px;
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes slide-in {
    from {
        width: 0px;
    }

    to {
        width: 90px;
    }
  }

@keyframes move {
    to {
        transform: translateX(-300%);
    }
}

}