.visual-preview {
    &__photo {
        z-index: 2;
    }
}

.menu {
    background-color: $background;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    z-index: 1;
    position: relative;
    bottom: 50px;
    &__heading {
        display: flex;
        align-items: baseline;
    }
    &__title {
        margin: 20px;
    }
    &__categories {
        text-transform: uppercase;
        margin: 20px;
    }
    &__underline {
        width: 10%;
        border: 2px solid $colour-tertiary;
        position: relative;
        bottom: 10px;
        margin: 20px;
    }
}

.dishbox {
    @include box;
    display: flex;
    background-color: #FFFFFF;
    flex-direction: column;
    &__prices {
        align-self: flex-end;
    }
}