.menu__starters {
    animation: menu-apparition 2000ms ease-in-out forwards;
    opacity: 0;
}

.menu__dishes {
    animation: menu-apparition 2000ms 1000ms ease-in-out forwards;
    opacity: 0;
}

.menu__desserts {
    animation: menu-apparition 3000ms 2000ms ease-in-out forwards;
    opacity: 0;
}

@keyframes menu-apparition {
    100% {
        opacity: 1;
    }
}