.menu__starters {
    animation: menu-apparition 1000ms ease-in-out forwards;
    opacity: 0;
}

.menu__dishes {
    animation: menu-apparition 1000ms 500ms ease-in-out forwards;
    opacity: 0;
}

.menu__desserts {
    animation: menu-apparition 1000ms 1000ms ease-in-out forwards;
    opacity: 0;
}

@keyframes menu-apparition {
    0% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes filling {
    0% {
        transform: translateY(0px);
    }
}