.helper {
    h2 {
        @media (min-width: 992px) {
            display: flex;
            justify-content: center; 
            position: relative;
            right: 10px;
        }
    }
}

.helpbox {
    @include box;
    display: flex;
    font-weight: bold;
    margin: 20px;
    @media (min-width: 768px) {
        display: inline-flex;    
    }
    @media (min-width: 992px) {
        margin: 20px 152px 0px 152px;   
    }
    &__icons {
        position: relative;
        padding-top: 25px;
        right: 10px;
        margin-left: 10px;
        margin-right: 10px;
        color: #808080;
    }
    &__numbers {
        position: relative;
        right: 15px;
        border: 1px solid $colour-primary;
        border-radius: 30px;
        padding: 5px 10px 5px 10px;
        color: #FFFFFF;
        background-color: $colour-primary;
    }
    &__txt {
        position: relative;
        top: 7px;
    }
    &:hover {
        background-color: rgba(147, 86, 220, 0.1);
        i {
            color: $colour-primary;
        }
    }
}
