.location {
    background-color: rgb(230, 230, 230);
    box-shadow: 0px 2px 1px rgba(0,0,0,.2) inset;
    display: flex;
    justify-content: center;
    margin-top: -20px;
    font-weight: bold;
    &__icon {
        position: relative;
        top: 15px;
        right: 25px;
    }
}