.location {
    background-color: rgb(230, 230, 230);
    display: flex;
    justify-content: center;
    margin-top: -20px;
    &__icon {
        position: relative;
        top: 15px;
        right: 25px;
    }
}