.restaurants {
   background-color: #F2F2F2; 
   margin-top: 60px;
   padding: 30px 0px 30px 0px;
   h2 {
    @media (min-width: 992px) {
        display: flex;
        justify-content: center; 
        position: relative;
        right: 15px;
    }
}
}

.cards {
    width: 320px;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin: 20px;
    padding-bottom: 30px;
    box-shadow: $border-shadow;
    @media (min-width: 768px) {
        display: inline-block;   
    }
    @media (min-width: 992px) {
        margin: 30px 40px;
        position: relative;
        left: 7%;     
    }
    &__img {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        z-index: 2;
    }
    &__txtarea {
        display: flex;
        flex-direction: column;
        margin-top: -40px;
        position: relative;
        top: 30px;
    }
    &__news {
        width: 30px;
        color: #2E8B57;
        font-weight: bold;
        border: 1px solid $colour-tertiary;
        border-radius: 3px;
        background-color: $colour-tertiary;
        width: 25%;
        padding: 7px 0px 7px 10px;
        margin-right: 7px;
        z-index: 1;
        float: right;
        position: relative;
        bottom: 150px;
    }
    &__titles {
        padding-left: 15px;
        padding-top: 10px;
    }
    &__icons {
        width: 30px;
        height: 30px;
        align-self: flex-end;
        position: absolute;
        &--empty {
            z-index: 10;
            background-color: #FFFFFF;
            &:hover {
                animation: heart-opacity 550ms 150ms forwards;
            }
        }
    }
    &__icons--news {
        width: 30px;
        height: 30px;
        align-self: flex-end;
        position: absolute;
        bottom: 0;
        right: -280%;
        top: 100%;
    }
    &__icons--normal {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 50%;
        top: 100%;

    }
    p {
        padding-left: 15px;
        margin-top: -10px;
    }
}

@keyframes heart-opacity {
    to {
        opacity: 0;
    }
}